.custom-bd{
    background-color: #f6eee0;
    font-family:'Roboto Slab', serif;
}

.first-title{
    color:#073060;
    font-weight:400;
    font-size: 64px;
}
.card.custom-card {
  height: 40rem;
  border-radius: 20px;
  border:none;
}
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  line-clamp: 4;
  overflow: hidden;
}

.custom-title{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  line-clamp: 1;
  overflow: hidden;
}

.logo {
    width:8em; 
    height: auto; 
}

.custom-img {
  width: 100%; 
  height: 20rem; 
  object-fit: cover;
  border-radius: 20px;
}

button.secondary-button {
  background-color: #369df2;
  border-radius: 15px;
  border: none;
}

.custom-button.primary-button {
    background-color: #8bca54;
    color: white;
    border-radius: 15px;
}

input.custom-input{
    background-color: #d9d9d9; 
    border-radius: 10px; 
    border: none;
    padding: 5px 10px; 
}

.footer-color {
  background-color: #073060 !important;
}
